<button id="toggle-report" {{action 'toggleAbuseForm'}}>{{buttonText}}</button>
{{#if formVisible}}
<form>
  <label>extra context if required <input id='extra-context' /></label>
  <button class="button-primary" id='submit-report' {{action 'submitReport'}}>send report</button>
</form>
{{/if}}
