@import "normalize";
@import "skeleton";
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
@import url(https://fonts.googleapis.com/css?family=Neuton:300,700);

//* { outline: 1px dashed #AAA; }

$sanstwo: 'Fjalla One', sans-serif;
$sans: 'Karla', sans-serif;
$serif: 'Neuton', serif;

body{
  font-family: $sans; 
  color: #333;
  padding: 0 0 2rem;
  margin: 0 0;
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 1rem;
  a {
  }
}

h1, h2, h3, h4, h5 {
 font-family: $serif; 
  font-weight: bold;
  letter-spacing: normal;
}

h3 {
 font-size: 1.7rem;
}

ul {
 margin-bottom: 1rem;
  padding-left: 1rem;
  li {
   margin-bottom: 0; 
  }
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: normal;
}

#info a {
   display: block;
}

p {
 margin-bottom: 1rem; 
}

label {
 text-transform: uppercase;
}

#note{
  background-color: red;
}
.container{
  width: 80%;
}
.report-abuse{
  font-size: smaller;
}

header {
 background: #eee;
  padding: 3rem 0;
  margin-bottom: 1rem;
}

.button.create-new {
  font-size: 1.5rem;
  background: #9FDFAC;
  border: 1px solid #9FDFAC;
  height: auto;
  padding: 1rem 2rem;
  color: white;
  transition-duration: 200ms;
  &:hover {
    background: darken(#9FDFAC, 5%);
    border: 1px solid #9FDFAC; 
  }
}

h1 a {
 color: #333; 
}

.global-warning{
  color: white;
  display: block;
  text-align: center;
  padding: 1rem 0;
  background: #C2474B;
}

#new-post-header{ /* When you create a new post, this is the background of the text */ 
  background-color:lightblue; 
  font-weight: bold;
  padding: 1rem;
  display: block;
  margin-bottom: 1rem;
  color: white;
}

