@import "normalize";
@import "skeleton";
/* Coolors Exported Palette - coolors.co/48acf0-a491d3-594236-6f584b-ccdde2 */

$color1: #48acf0; //rgba(72, 172, 240, 100)
$color2: #a491d3; //rgba(164, 145, 211, 100)
$color3: #594236; //rgba(89, 66, 54, 100)
$color4: #6f584b; //rgba(111, 88, 75, 100)
$color5: #ccdde2; //rgba(204, 221, 226, 100)

body{
  background-color: $color2;
}
a{
  color: $color5;
}
h4 a{
  color: pink;
}
#note{
  background-color: red;
}
