{{partial 'otherHeader'}}
<main role="main">
{{outlet}}
<p id='note'>this public list of items is just for testing/development!</p>
<ul>
  {{#each model as |post|}}
    <li>{{#link-to 'post' post}}{{post.title}}{{/link-to}}</li>
  {{/each}}
</ul>
</main>
