{{outlet}}
<label>title: <input class='title' /> </label>
<label>warning note: <input class='note' /> </label>
<label>content: <textarea class='content' /> </label>
<button class="button-primary" {{action 'submitTheThing'}}>submit</button>
