{{outlet}}
<p><label>title: <input class='title' /> </label></p>
<p><label>warning note: <input class='note' /> </label></p>
<p><label>content: <textarea class='content' /> </label></p>
<p><button class="button-primary" {{action 'submitTheThing'}}>submit</button></p>
