{{outlet}}
<p>title: <input class='title' /> </p>
<p>warning note: <input class='note' /> </p>
<p>content: <textarea class='content' /> </p>
<p><button class="button-primary" {{action 'submitTheThing'}}>submit</button></p>
