<header class="subpage" role="banner">
     <!-- <div class="six columns">
      <h1>
        {{#link-to "index"}}
          Flowerpot <sup><small>(beta)</small></sup>
        {{/link-to}}
      </h1>
      <h2 class="subtitle">Share content safely</h2>
     </div>
      <div class="six columns" id="nav" role="navigation">
        {{link-to "Create post" 'posts.new' class="button create-new"}}
        {{link-to "See an Example" 'post' 'example' class="button"}}
        {{#if features.showIndex}}
          {{link-to "list of posts (beta only)" "posts.index" class="button"}}
        {{/if}}
      </div> -->
</header>
