<header>
  <div class="container">
    <div class="row">
      <h1>
        {{#link-to "index"}}
          Flowerpot
        {{/link-to}}
      </h1>
      <h2 style='background-color:pink'>A DIFFERENT HEADER</h2>

      {{link-to "Create New Pot" 'posts.new' class="button create-new"}} or {{#link-to "post" 'example'}}
see an example{{/link-to}}?
      {{#if showIndex}}
        {{link-to "list of posts (beta only)" "posts.index" class="button"}}
      {{/if}}
    </div>
  </div>
</header>
