{{outlet}}
<p>abuse reports</p>
<table>
  <thead><th>abuse context</th><th>post title</th></thead>
  <tbody>
    {{#each model as |foo|}}
      <tr><td>{{foo.extraContext}}</td> <td>{{#link-to 'post' foo.post}}{{foo.post.title}}{{/link-to}}</td></tr>
    {{/each}}
  </tbody>
</table>
