<div class="container">
  <div class="row">
    <div class="one-half column">
      <h4 id="title">Welcome to Flowerpot</h4>
      <p>{{link-to "new" 'posts.new'}}
      {{link-to "index" "posts.index"}}</p>
    </div>
  </div>
  <div class="row">
    {{outlet}}
  </div>
</div>
