<div class="container">
  <div class="row">
    <div class="one-half column">
      <h4>{{link-to "Welcome to Flowerpot" "index"}}</h4>
    </div>
  </div>
  <div class="row">
    <p>{{link-to "new" 'posts.new'}}
      {{link-to "index" "posts.index"}}</p>
  </div>

  <div class="row">
    {{outlet}}
  </div>
</div>
