<div class="container">
  
  <div class="row">
    <h1>
        {{#link-to "index"}}
          Flowerpot
        {{/link-to}}
        <a href="#what" id="about-link">(flower-what?)</a>
      </h1>
    
        {{#link-to "index" class="button"}}
          introduction
        {{/link-to}}
        
      {{link-to "new message" 'posts.new' class="button"}}
      {{#if showIndex.showIndex}}
        {{link-to "list of posts" "posts.index" class="button"}}
      {{/if}}
      {{link-to "questions" "questions" class="button"}}
    
    </div>
    <div class="row">
      
      <div class="column six" id="what">
        {{outlet}}
      </div>
    </div>
    
    </div>
