<p>
  Hi, welcome to flowerpot. This is an app to help share messages with people while ensuring they've definitely been notified about any sensitive content.
</p>

<p>For example, if someone wants to write a message about SUBJECT but is concerned that some of their friends have a phobia, they can provide a content note like 'mentions SUBJECT' and be confident that only people who've actively consented to read about that subject will see the content of their message</p>

<p>Please use flowerpot only for good, never for evil. Abusive content will be removed. (CoC link)</p>
