<<<<<<< HEAD
<h2>Encode content:</h2>
 <form>
  <label>title: <input class='title' /> </label>
  <label>warning note: <input class='note' /> </label>
  <label>content: <br> <textarea class='content' /> </label>
  <button class="submit button-primary" {{action 'submitTheThing'}}>submit</button>
</form>

<h2>What's this?</h2>
 <p>
  Hi, welcome to flowerpot. This is an app to help share messages with people while ensuring they've definitely been notified about any sensitive content.
=======
<p>
  Hi, welcome to flowerpot. This is an app to help share posts with people while ensuring they've definitely been notified about any sensitive content.
>>>>>>> ibroadfo/master
</p>

<p>For example, if someone wants to write a post about SUBJECT but is concerned that some of their friends have a phobia, they can provide a content note like 'mentions SUBJECT' and be confident that only people who've actively consented to read about that subject will see the content of their post.</p>

<<<<<<< HEAD
<p>Please use flowerpot only for good, never for evil. Abusive content will be removed. More details are in our <a href="#">Code of Conduct</a>&mdash; and please do get in touch if you have any questions, comments, or concerns.</p>
=======
<p>
  Please use flowerpot only for good, never for evil. Abusive content will be removed. We have a (hopefully) comprehensive {{link-to "Code of Conduct" "mdContent" "code-of-conduct"}} which all users are expected to follow.
</p>
>>>>>>> ibroadfo/master
