<h3>What's this?</h3>

        <p>
  Hello and welcome to Flowerpot. This is an app to help share posts with people while ensuring they've definitely been notified about any sensitive content. For example: </p>
  
    <ul>
      <li>Alex has written a blog post about SUBJECT A but is concerned that some of their friends have a phobia of that subject.</li>
      <li>They encode that post using Flowerpot, and provide a content note like 'Be careful, this post mentions SUBJECT A!'</li>
      <li>They share the post, which can be easily decoded by anyone who wishes to read it.</li>
      <li>Alex is confident that those reading his post have consented to its content.</li>
    </ul>  
    
    <p><strong>Try Flowerpot</strong>: {{link-to "Encode your first post" 'posts.new'}}, or <a href="#">see an encoded example</a>.</p>

<h5 id="psa">PSA:</h5>
<p>
  <strong>Please</strong> use flowerpot only for good, never for evil. Abusive content will be removed. We have a (hopefully) comprehensive {{link-to "Code of Conduct" "mdContent" "code-of-conduct"}} which all users are expected to follow &mdash; and please do get in touch if you have any questions, comments, or concerns.
</p>
