<h4>general</h4>
<dl>
  <dt>isn't this just pandering to the socialist liberal elite?</dt>
  <dd>no</dd>
  <dt>but what about my free speech?</dt>
  <dd>no</dd>
  <dt>aren't you worried people won't be able to cope in the real world?</dt>
  <dd>no</dd>
  <dt>should i use this app for posting spoilers?</dt>
  <dd>no</dd>
</dl>
<h4>technical</h4>
<dl>
  <dt>are my messages securely encrypted?</dt>
  <dd>no, we just encode them so they're not readable until decoded (technical faq link)</dd>
  <dt>why can't i login?</dt>
  <dd>to help minimise our users' exposure to abuse, we don't store any details about them :)</dd>
  <dt>how much detail should i put in my notes?</dt>
  <dd>good question. it depends on your expected audience, really. {expand}</dd>
  <dt>why aren't you securely encrypting messages?</dt>
  <dd>the content of messages doesn't need to be secure, it's always readable; we just want to let people not read it.</dd>
</dl>
